* {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 62.5% !important;
  }
body{
background-color: #96A13A;
}
header{
    background-color: #CB793A;
    border-bottom: 5px #55251D solid;

}
h1{
    display: flex;
    justify-content: center;
    
}
#seleccion{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
#seleccion div{
    display: flex;
    width: 200px;
    height: fit-content;
}
#seleccion div div{
    display: flex;
    justify-content: space-between;
}

#holder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  

}
#board{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;

    width: fit-content;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #CB793A;
    border: 5px #55251D solid;
}
.producto{
    margin-top: 10px;
    margin-bottom: 10px;
}
.compraProducto{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.productName{
    text-align: center;
}
.imagenProducto{
    width: 250px ;
    height: 200px ;
}
footer{
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;


    width: 100%;
    background-color: #CB793A;
    border-top: 5px #55251D solid;
}
