* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
html {
    font-size: 62.5% !important;
  }
body{
background-color: #96A13A;
}
header{
    background-color: #CB793A;
    border-bottom: 5px #55251D solid;

}
h1{
    display: flex;
    justify-content: center;
    
}
#seleccion{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
#seleccion div{
    display: flex;
    width: 600px;
    height: fit-content;
}
#holderBotones{
    display: flex;
    justify-content: space-between;
    width: fit-content;
  
}
.botonesSeleccion{
    width: 200px;
}

#holder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 200px;
  

}
#board{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;

    width: fit-content;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #CB793A;
    border: 5px #55251D solid;
}

.producto{
    margin-top: 10px;
    margin-bottom: 10px;
}
.compraProducto{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.productName{
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 20px;
    
}
.imagenProducto{
    width: 250px ;
    height: 200px ;
}
.productNameStock{
    display:flex;
    justify-content: space-between;
}
.productStock{
    font-family: 'Macondo', cursive;
    font-size: 15px;
    color:#696969;
    font-weight: bold;

}
.masYmenos{
    width: 25px;
    height: 25px;
}
.title{
    font-size: 50px;
    text-align: center;
    font-family: 'Satisfy', cursive;
}
.subTitle{
    font-family: 'Macondo', cursive;
    font-size: 30px;
}
.text{
    font-family: 'Macondo', cursive;
    font-size: 20px;
}
.textCarrito{
    font-family: 'Macondo', cursive;
    font-size: 15px;
}

footer{
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;


    width: 100%;
    background-color: #CB793A;
    border-top: 5px #55251D solid;
}
#footerTotal{
    display: flex;
    justify-content: space-between;
    
}
#finalizarCompra{
    align-self: center;
    width: 150px;
    height: 40px;
    margin-right: 10px;
}
#voucher{
    align-self: center;
    width: 75px;
    height: 40px;
    margin-right: 10px;
}
#articulosCarrito{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}
#resetStock{
    position:absolute;
    top: 0;
    width: fit-content;
}

 